@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;

}
#nav{
    margin: 0;
    padding: 0;
    min-width: 100%;

}
#navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#navItem{
    color:white;
    border-bottom: 2px solid black;


}
#navItem:hover{

    transition: 0.2s ease-in;
    border-color: white;
}
.logo{
    width:150px;
    height: 130px;
    padding:2px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    margin-right:10px;
}
.logo:hover{
    border-color: white;
}
.signupbtn{
    margin-left:50px;
    border: 2px solid white;
    color:white;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 2px solid white;
    transition: 0.5s ease-in-out;
}
.signupbtn:hover{
    border: 2px solid black;
    color:black;
    background-color: white;
}
.logologin{
    width:150px;
    height: 130px;
    margin-left:150px;
}