<!DOCTYPE html>
<html lang= "eng" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee&display=swap">
</head>
<style>
    body {
        background-color: black;
    }
    h1 {
        color: white;
        font-family: 'Bungee', cursive;
    }
    .custom-label {
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .custom-label:first-of-type {
        margin-bottom: 16px;
    }
</style>
<body>
<h1 th:text="${heading}" class="text-center" style="color:white"/>
<img th:src="@{/images/Logo.png}" alt="Barbershop logo" class="img-fluid mx-auto d-block">
<div class="paymentDates" >
    <div class="row justify-content-center">
        <div class="filterFromDates">
            <label for="filterFrom" class="custom-label">Filter from:</label>
            <select id="filterFrom" class="form-control">
                <option value="" selected>Select a date</option>
                <option value="2024-08-01">2024-08-01</option>
                <option value="2024-10-01">2024-10-01</option>
                <option value="2024-01-01">2024-01-01</option>
            </select>

        </div>
        <div class="filterToDates">
            <label for="filterFrom" class="custom-label">Filter from:</label>
            <select id="filterTo" class="form-control">
                <option value="" selected>Select a date</option>
                <option value="2024-12-01">2024-12-01</option>
                <option value="2024-11-01">2024-11-01</option>
                <option value="2025-01-01">2025-01-01</option>
            </select>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-secondary table-striped">
                <thead>
                <tr>
                    <th scope="col">Appointment Id</th>
                    <th scope="col">Client Phonenumber</th>
                    <th scope="col">Service Id</th>
                    <th scope="col">Barber Id</th>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Appointment Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment: ${appointment}">
                    <td th:text="${appointment.appointment_Id}"></td>
                    <td th:text="${appointment.client_phoneNumber}"></td>
                    <td th:text="${appointment.service_id}"></td>
                    <td th:text="${appointment.barber_id}"></td>
                    <td th:text="${appointment.appointment_date}"></td>
                    <td th:text="${appointment.appointment_time}"></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-secondary">Edit Schedule</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>